@import "tailwindcss";


@font-face {
  font-family: 'Oryn';
  src: url('/wristro/public/fonts/oryn.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}