@import "tailwindcss";

@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate-border {
  animation: rotate-border 2s linear infinite;
}

@font-face {
  font-family: 'Oryn';
  src: url('/wristro/public/fonts/oryn.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .bg-conic-mix {
    background: conic-gradient(at top, #0f172a, #6b7280, #fafafa);
  }
}
